In [44]:
import pandas as pd 

df = pd.DataFrame({
    'name': ['john', 'anna', 'peter', 'linda'],
    'age': [28, 24, 35, 40],
    'city': ['new york', 'paris', 'london', 'berlin']
})

In [45]:
df['country'] = ['usa', 'france', 'uk', 'germany']

In [49]:
print(df["name"].to_list())
print(df["age"].to_list())
print(df["city"].to_list())
print(df["country"].to_list())

filtered = df[df["age"] > 30]
print(f"\n{df.head()}")

['john', 'anna', 'peter', 'linda']
[28, 24, 35, 40]
['new york', 'paris', 'london', 'berlin']
['usa', 'france', 'uk', 'germany']

    name  age      city  country
0   john   28  new york      usa
1   anna   24     paris   france
2  peter   35    london       uk
3  linda   40    berlin  germany

In [37]:
df.rename(columns={'name': 'Full Name', 'age': 'Years', 'city': 'City Name', 'country': 'Nation'}, inplace=True)
print(df.columns.to_list())

['Full Name', 'Years', 'City Name', 'Nation']

In [39]:
df = df.sort_values(by=['Nation'])
sorted = df.groupby('Nation')['Years'].mean()
print(sorted.head())

Nation
france     24.0
germany    40.0
uk         35.0
usa        28.0
Name: Years, dtype: float64